(
    nodes: [
        /*[0]*/ (pos: (-5.0, 0.0, -5.0), parent: Some(2)),
        /*[1]*/ (pos: (-10.0, -0.0, 9.0), parent: Some(3)),
        /*[2]*/ (pos: (-5.0, 0.0, 0.0), parent: Some(4)),
        /*[3]*/ (pos: (-10.0, 0.0, 4.0), parent: Some(5)),
        /*[4]*/ (pos: (0.0, 0.0, 0.0), parent: None),
        /*[5]*/ (pos: (-10.0, 0.0, -5.0), parent: Some(0)),
        /*[6]*/ (pos: (-12.720493, 4.9395742, -7.6046286), parent: Some(5)),
        /*[7]*/ (pos: (-1.044733, 5.842365, 5.2385697), parent: Some(4)),
        /*[8]*/ (pos: (-1.9160441, 9.74366, 9.830501), parent: Some(8)),
    ],
    node_holes: [
        /*[0]*/ 6,
    ],
    edge_property: undirected,
    edges: [
        /*[0]*/ Some((8, 4, (muscle_data: []))),
        /*[1]*/ Some((7, 5, (muscle_data: []))),
        /*[2]*/ None,
        /*[3]*/ Some((3, 5, (muscle_data: []))),
        /*[4]*/ Some((5, 0, (muscle_data: []))),
        /*[5]*/ Some((0, 2, (muscle_data: []))),
        /*[6]*/ Some((2, 4, (muscle_data: [7]))),
        /*[7]*/ Some((1, 3, (muscle_data: [6]))),
        /*[8]*/ Some((9, 8, (muscle_data: []))),
    ],
)