(
 points: (
  r_coords: (0.0, 0.0, 0.0),
  connections: [
   (
    r_coords: (5.0, 0.0, 0.0),
    connections: [
     (
      r_coords: (0.0, 0.0, 5.0),
      connections: [
       (
        r_coords: (5.849, -0.067, -0.01),
        connections: [],
       ),
       (
        r_coords: (-0.621, 4.968, 0.726),
        connections: [],
       ),
      ],
     ),
    ],
   ),
   (
    r_coords: (-5.0, 0.0, 0.0),
    connections: [
     (
      r_coords: (0.0, 0.0, -5.0),
      connections: [
       (
        r_coords: (-4.002, 1.225, 2.736),
        connections: [],
       ),
      ],
     ),
    ],
   ),
   (
    r_coords: (0.316, 7.527, -0.886),
    connections: [],
   ),
  ],
 ),
 muscle: (
  pairs: {
   8: [
    9,
   ],
   5: [
    9,
   ],
  },
 ),
)